apiVersion: v1
kind: Service
metadata:
  name: bblam-php-service
  namespace: default
  labels:
    app: bblam-php-app
spec:
  type: LoadBalancer
  selector:
    app: bblam-php-app
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
    nodePort: 30080
  sessionAffinity: ClientIP
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: default
  labels:
    app: mysql
spec:
  type: ClusterIP
  selector:
    app: mysql
  ports:
  - name: mysql
    port: 3306
    targetPort: 3306
    protocol: TCP
